# Python
*.pyc
*.pyo
__pycache__/
*.sqlite3
*.log
*.pot
*.mo

# Django
*.env
*.env.*
db.sqlite3
media/
static/

# Tailwind / npm
node_modules/
package-lock.json
yarn.lock
dist/
*.css

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
