<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduFlow</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="web-header">
        <h1>EduFlow</h1>
    </div>
    <div class="login-container">
        <h2>Register</h2>
        {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
        {% endif %}
        {% if success %}
            <div class="success-message">
                {{ success }}
                <div class="redirect-message">
                    <a href="{% url 'board:login' %}">คลิกที่นี่เพื่อเข้าสู่ระบบ</a>
                </div>
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="password" required>
            <input type="password" name="confirm_password" placeholder="confirm password" required>
            <button type="submit">submit</button>
        </form>
        {% if not success %}
            <p>มีบัญชีอยู่แล้ว? <a href="{% url 'board:login' %}">เข้าสู่ระบบ</a></p>
        {% endif %}
    </div>
</body>
</html>